{% import 'lookup_macros.j2' as elasticbeats__lookup_macros with context %}
{#
 #  Add configuration file to the list. The name is chosen as following:
 #    - 'configfile' property if defined
 #    - <name>.yml where the beat name is taken from the 'name' property
 #}
{% macro add_configfile(_configfiles, _beat) %}
{%   if 'configfile' in _beat %}
{%      set _ = _configfiles.append(_beat['configfile']) %}
{%   else %}
{%      set _ = _configfiles.append(_beat['name'] + '.yml') %}
{%   endif %}
{% endmacro %}
{#
 #  Return a list of the configuration files of all beats defined in
 #  `elasticbeats__beats`
 #}
{% set _configfiles = [] %}
{% set _valid_beats = elasticbeats__lookup_macros.get_valid_beats() | from_yaml %}
{% for _beat in elasticbeats__beats|d([]) %}
{%   if _valid_beats and (_beat["name"] in _valid_beats) %}
{%     set _ = add_configfile(_configfiles, _beat) %}
{%   elif not _valid_beats %}
{%     set _ = add_configfile(_configfiles, _beat) %}
{%   endif %}
{% endfor %}
{{ _configfiles | to_yaml }}
